<div class="footer my-5 border-top text-center">
<img src="/images/logodata_02.png" class="my-3" style="width:150px;">
1:<img src="<%= asset_path "/assets/images/logodata_02-2e4bc12b3c760e7d372a223efb818611bb4d2fb143d255fc7693a9ec86216ec3.png" %>" />
2:<img src="<%= asset_path "/images/logodata_02-2e4bc12b3c760e7d372a223efb818611bb4d2fb143d255fc7693a9ec86216ec3.png" %>" />
3:<img src="<%= asset_path "/logodata_02-2e4bc12b3c760e7d372a223efb818611bb4d2fb143d255fc7693a9ec86216ec3.png" %>" />
<p><small>&copy;2019.korgi Co., Ltd.</small></p>
</div>