<div class="footer my-5 border-top text-center">
<img src="/images/logodata_02.png" class="my-3" style="width:150px;">
1:<img src="<%= asset_path "/assets/images/logodata_02.png" %>" />
2:<img src="<%= asset_path "/images/logodata_02.png" %>" />
3:<img src="<%= asset_path "/logodata_02.png" %>" />
<p><small>&copy;2019.korgi Co., Ltd.</small></p>
</div>