<div class="footer my-5 border-top text-center">
<img src="/images/logodata_02.png" class="my-3" style="width:150px;">
1:<%= image_tag('/assets/images/logodata_02.png')%>
2:<%= image_tag('/images/logodata_02.png')%>
3:<%= image_tag('/assets/logodata_02.png')%>
4:<%= image_tag('/logodata_02.png')%>
<p><small>&copy;2019.korgi Co., Ltd.</small></p>
</div>