<section id="main-visual" style="display: none">
</section>
<%= render 'users/user_header' %>
<div class="container">
	<div class="row contents">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<div class="contents-top text-center">
				<h4 class="my-3" style="font-family:AvenirLTStd-Medium; font-style:italic;text-decoration: underline;">Contents</h4>
			</div>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>
<%= render 'users/user_footer' %>