.sidebar__item {
  margin-bottom: 20px;
}

.sidebar__item--fixed {
  position: fixed;
  margin-bottom: 0;
  z-index: 1;
  height:100%;
  width:15%;
  background-color:#808080;
}

.admin-logo {
  width:150px;
  margin-left: 10px;
  margin-top: 10px;
}
