// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-visual {
	height: 100vh;
	background-image: image-url("lecture_hall_origin.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	text-align: center;
	color: #FAFAFA;
}