<div class="container">
	<!-- korgi　logo -->
	<div class="row">
		<div class="col-lg-4">
			hello
		</div>
	</div>

	<div class="row">
		<!-- サイドバー -->
		<div class="col-lg-4">
			hello
		</div>

		<!-- user index -->
		<div class="col-lg-8">
			hello
		</div>

	</div>
</div>